.navbar {
    transition: all 0.5s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .up-item a {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #E8E8E8;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

.elements-section {
    padding-top: 100px;
}

.el-title {
    margin-bottom: 75px;
}

.element {
    margin-bottom: 100px;
}

.element:last-child {
    margin-bottom: 0;
}

/** Back-to-top button **/

.button {
    display: inline-block;
    background-color: #585858;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.button i {
    padding-top: 12px;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
    background-color: #282828;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/** End Back-to-top button **/

/** Hero **/

.hero-image {
    width: 100%;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/images/hero.jpg");
    background-attachment: fixed;
}

.overlay {
    width: 100%;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.5);
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background-size: cover;
}

.header-top {
    padding: 18px 0 14px;
}

.header-search-form {
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.header-search-form input {
    width: 350px;
    height: 44px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    padding: 0 19px;
    background: #f0f0f0;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.header-search-form button {
    position: absolute;
    height: 100%;
    right: 18px;
    top: 0;
    font-size: 26px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.user-panel .up-item {
    display: inline-block;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 10px;
}

.user-panel .up-item i {
    font-size: 22px;
}

.user-panel .up-item a {
    font-size: 14px;
    color: #000;
}

.user-panel .up-item:first-child {
    margin-right: 20px;
}

.shopping-card {
    display: inline-block;
    position: relative;
}

.shopping-card span {
    position: absolute;
    top: -4px;
    left: 100%;
    height: 16px;
    min-width: 16px;
    color: #fff;
    font-size: 13px;
    background: #002A46;
    text-align: center;
    border-radius: 30px;
    padding: 0 2px;
    margin-left: -7px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.hero-content h1 {
    text-align: center;
    padding-top: 180px;
    color: #ffffff;
    font-weight: 700;
    font-size: 80px;
}

.hero-content p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

.butt {
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 31px;
    background-color: transparent;
    color:#fff;
    border:1px solid #fff;
    padding:10px 30px;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
}

.butt:hover {
    box-shadow: 0 0 10px white;
    border-color: transparent;
    color: white;
}

.hero-content a {
    margin-left: 500px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content a {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 55px;
    }

    .hero-content p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-content h1 {
        font-size: 43px;
    }

    .hero-content p {
        font-size: 15px;
    }

    .hero-content a {
        margin-left: 200px;
    }
}

/** End Hero **/

/** Latest products **/

.section-title {
    text-align: center;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
}

.latest-products {
    padding-top: 70px;
    padding-bottom: 70px;
}

.latest-products .section-title {
    margin-bottom: 70px;
}

.product-slider .owl-nav {
    position: absolute;
    top: calc(50% - 60px);
    width: 100%;
    left: 0;
}

.product-slider .owl-nav button.owl-next,
.product-slider .owl-nav button.owl-prev {
    color: #a4a4a4;
    font-size: 42px;
    position: relative;
}

.product-slider .owl-nav button.owl-next {
    float: right;
    right: -92px;
}

.product-slider .owl-nav button.owl-prev {
    float: left;
    left: -92px;
}

.product-item .pi-pic {
    position: relative;
    display: block;
}

.product-item .pi-pic:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.image img {
    margin-bottom: 0;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.product-item .tag-new,
.product-item .tag-sale {
    position: absolute;
    right: 16px;
    top: 14px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: #50e550;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 9px 1px;
    border-radius: 15px;
    width: 42px;
}

.product-item .tag-sale {
    text-align: center;
    padding: 5px 0px 1px;
    min-width: 65px;
    background: #f51167;
}

.product-item .pi-links {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 18px;
    z-index: 9;
    padding-right: 15px;
    text-align: right;
}

.product-item .pi-links a {
    display: inline-table;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 60px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 9px;
    overflow: hidden;
    color: #000;
    position: relative;
    -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
}

.product-item .pi-links a i {
    display: inline-block;
    color: #000;
}

.product-item .pi-links a.add-card {
    padding-top: 8px;
}

.product-item .pi-links a.add-card span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 19px;
    top: 20px;
    opacity: 0;
}

.product-item .pi-links a.add-card:hover {
    width: 165px;
    padding: 8px 18px 0;
    text-align: left;
}

.product-item .pi-links a.add-card:hover span {
    opacity: 1;
    top: 10px;
    -webkit-transition: all 0.4s ease 0.3s;
    -o-transition: all 0.4s ease 0.3s;
    transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
    padding-top: 22px;
    height: 87px;
}

.product-item .pi-text h6 {
    float: right;
    padding-left: 40px;
    overflow: hidden;
    font-weight: 700;
    color: #111111;
}

.product-item .pi-text p {
    font-size: 16px;
    color: #111111;
    margin-bottom: 0;
}

/** End Latest products **/

/** Blocks **/

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative;
}

.site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #7971ea;
}

.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #7971ea;
}

/** End blocks **/

.product-filter-section {
    padding-bottom: 60px;
}

.product-filter-section .section-title {
    margin-bottom: 70px;
}

.product-filter-menu {
    list-style: none;
    margin: 0 -10px;
    padding-bottom: 15px;
}

.product-filter-menu li {
    margin: 0 10px 10px;
    display: inline-block;
}

.product-filter-menu li a {
    color: #111111;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ebebeb;
    display: block;
    width: 100%;
    padding: 10px 34px;
    border-radius: 31px;
}

.product-filter-menu li a:hover {
    box-shadow: 0 0 10px gray;
    color: 	black;
}

.load-more {
    color: #111111;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ebebeb;
    width: 10px;
    padding: 10px 34px;
    border-radius: 31px;
}

.load-more:hover {
    box-shadow: 0 0 10px gray;
    color: 	black;
}

/* End product filer */

/* Footer section */

.footer-section {
    background: #747377;
    padding-top: 60px;
}

.footer-logo {
    padding-bottom: 60px;
}

.footer-widget {
    margin-bottom: 70px;
    overflow: hidden;
}

.footer-widget h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 45px;
}

.footer-widget p {
    color: white;
}

.footer-widget.about-widget p {
    margin-bottom: 50px;
    letter-spacing: -0.01em;
}

.footer-widget ul {
    list-style: none;
    float: left;
    margin-right: 37px;
}

.footer-widget ul:last-child {
    margin-right: 0;
}

.footer-widget ul li a {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    color: white;
    margin-bottom: 6px;
}

.footer-widget ul li a:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 0;
    top: 8px;
    border: 1px solid #B0B0B0;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-widget ul li a:hover:after {
    width: 9px;
    height: 9px;
    top: 6px;
    background: #B0B0B0;
}

.fw-latest-post-widget .lp-item {
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
}

.fw-latest-post-widget .lp-thumb {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
    overflow: hidden;
    padding-top: 2px;
}

.fw-latest-post-widget .lp-content h6 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.25;
    color: white;
    margin-bottom: 1px;
}

.fw-latest-post-widget .lp-content span {
    display: block;
    font-size: 12px;
    color: white;
    margin-bottom: 4px;
}

.fw-latest-post-widget .lp-content {
    font-size: 12px;
    color: #f51167;
}

.contact-widget .con-info span {
    float: left;
    color: white;
    margin-right: 15px;
    overflow: hidden;
}

.social-links-warp {
    border-top: 1px solid #B0B0B0;
    padding: 46px 0;
}

.social-links a {
    margin-right: 60px;
    display: inline-block;
}

.social-links a:last-child {
    margin-right: 0;
}

.social-links a i {
    font-size: 30px;
    color: white;
    float: left;
    margin-right: 19px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-links a span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-links a.instagram:hover i {
    color: #2F5D84;
}

.social-links a.google-plus:hover i {
    color: #E04B37;
}

.social-links a.twitter:hover i {
    color: #5abed6;
}

.social-links a.facebook:hover i {
    color: #39599F;
}

.social-links a:hover span {
    color: #fff;
}

/* End footer */

/* shop Page */

.page-top-info {
    background: #f8f7f7;
    padding: 60px 0 70px;
}

.page-top-info h4 {
    color: #414141;
    font-weight: 700;
    text-transform: uppercase;
}

.site-pagination {
    font-size: 14px;
    font-weight: 600;
    color: #414141;
}

.site-pagination a {
    display: inline-block;
    font-size: 14px;
    color: #414141;
}

.filter-widget {
    margin-bottom: 100px;
}

.category-section {
    padding-top: 105px;
    padding-bottom: 105px;
}

.category-menu {
    list-style: none;
}

.category-menu li a {
    display: block;
    position: relative;
    font-size: 12px;
    color: #414141;
    border-bottom: 1px solid #B0B0B0;
    padding: 12px 0 5px 20px;
}

.category-menu li a span {
    float: right;
}

.category-menu li a:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    left: 0;
    top: 13px;
    border: 1px solid #B0B0B0;
    border-radius: 50%;
}

.category-menu li a:hover {
    color: #B0B0B0;
}

.category-menu li a:hover:after {
    background: #B0B0B0;
}

.category-menu li a:last-child a {
    margin-bottom: 0;
}

.category-menu li .sub-menu {
    list-style: none;
    overflow: hidden;
    height: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    -o-transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.category-menu li .sub-menu li a {
    padding-left: 45px;
}

.category-menu li:hover>a {
    color: #000000;
}

.category-menu li.active>.sub-menu {
    display: block;
    height: auto;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* End shop page */

/* Product page */

.back-link {
    padding-bottom: 50px;
}

.back-link a {
    font-size: 12px;
    color: #414141;
}

.product-content {
    padding-bottom: 70px;
    padding-top: 100px;
}

.product-details .p-title {
    font-weight: 700;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.product-pic {
    margin-bottom: 35px;
}

.quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.quantity p {
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #414141;
    padding-top: 10px;
    margin-bottom: 0;
}

.quantity .pro-qty {
    width: 94px;
    height: 36px;
    border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: 40px;
    float: left;
}

.quantity .pro-qty .qtybtn {
    width: 15px;
    display: block;
    float: left;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #404040;
}

.quantity .pro-qty input {
    width: 28px;
    float: left;
    border: none;
    height: 36px;
    line-height: 40px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}

/* Accordion */

.accordion-area {
    margin-top: 50px;
    border-top: 2px solid #e1e1e1;
}

.accordion-area .panel {
    border-bottom: 2px solid #e1e1e1;
}

.accordion-area .panel-link {
    background-image: url("/images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right 10px top 30px;
}

.faq-accordion.accordion-area .panel-link,
.faq-accordion.accordion-area .panel-link.active.collapsed {
    padding: 17px 100px 17px 20px;
}

.faq-accordion.accordion-area .panel-link:after {
    right: 44px;
}

.accordion-area .panel-header .panel-link.collapsed {
    background-image: url("/images/arrow-down.png");
}

.accordion-area .panel-link.active {
    background-image: url("/images/arrow-up.png");
}

.accordion-area .panel-link.active {
    background-color: transparent;
}

.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed {
    text-align: left;
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #414141;
    padding: 0;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    border: none;
    min-height: 69px;
    background-color: transparent;
    border-radius: 0;
}

.accordion-area .panel-body {
    padding-top: 10px;
}

.accordion-area .panel-body p {
    color: #8f8f8f;
    margin-bottom: 25px;
    line-height: 1.8;
}

.accordion-area .panel-body p span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f51167;
}

.accordion-area .panel-body img {
    margin-bottom: 25px;
}

.accordion-area .panel-body h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-details .social-sharing {
    padding-top: 30px;
}

.product-details .social-sharing a {
    color: #d7d7d7;
    margin-right: 23px;
    font-size: 14px;
}

.product-details .social-sharing a:hover {
    color: #414141;
}

.related-product-section {
    padding-bottom: 70px;
}

.related-product-section .section-title h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.show-number {
    padding-top: 20px;
    padding-bottom: 0px;
}

.btn-outline-dark {
    border-radius: 0;
    color: black;
}

.btn-outline-dark:hover {
    border-color: transparent;
    box-shadow: .5px .5px 8px .5px #696969;
}

#phone {
    display: none;
}

/*.review-product-section {*/
/*    !*margin-top: 30px;*!*/
/*    margin-bottom: 30px;*/
/*}*/

/*.review-input {*/
/*    border-radius: 0px;*/
/*    outline: 0px !important;*/
/*    -webkit-appearance: none;*/
/*    box-shadow: none !important;;*/
/*}*/

/*.review-input:focus {*/
/*    border-color: transparent;*/
/*}*/

/* End product */

/* Contact Page */

.contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.contact-info h3 {
    margin-bottom: 50px;
}

.contact-social {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px;
    padding-top: 20px;
}

.contact-social a {
    display: -ms-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: #f0f0f0;
    color: #414141;
    font-size: 14px;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 12px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-social a:hover {
    color: #fff;
    background: #f51167;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 44px;
    display: block;
    border: none;
    padding: 0 18px;
    background: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 17px;
    font-size: 14px;
}

.contact-form textarea {
    padding-top: 16px;
    border-radius: 18px;
    height: 175px;
    margin-bottom: 32px;
}

.contact-img {
    position: absolute;
    width: calc(50% - 15px);
    height: 100%;
    right: 0;
    top: 0;
    background: #ffffff;
}

.contact-img img {
    margin-top: 250px;
    margin-left: 100px;
}

/* End contact */

/* About */

.about-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-pill p {
    text-align: justify;
}

/* End about */

/* Cart */

.cart_section {
    width: 100%;
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

thead {
    line-height: 2em;
}

/* End Cart */

/* merchant */

.sell-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sell-area {
    margin: 0 auto 40px auto;
    width: 80%;
    padding: 30px;
    background: #F8F7F7;
}

.sell-area:hover {
    box-shadow: 2px 4px 8px 2px #B0B0B0;
}

.sell-area h3 {
    font-weight: bold;
}

.sell-area p{
    color: red;
    font-size: 13px;
}

.sell-area-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sell-area-content select {
    border-color: transparent;
}

.contact-area {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-area {
    margin: 0 auto 40px auto;
    width: 80%;
    padding: 30px;
    background: #F8F7F7;
    /*box-shadow: 2px 4px 8px 2px #B0B0B0;*/
}

.contact-area:hover {
    box-shadow: 2px 4px 8px 2px #B0B0B0;
}

.contact-area h3 {
    font-weight: bold;
}

.contact-area h5 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.post-ad {
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    width: 120px;
    height: 40px;
    color: black;
    border: 1px solid #747377;
}

.post-ad:hover {
    background-color: #747377;
    color: #FFFFFF;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* End merchant */

/* Wishlist */
.move-to-cart {
    text-transform: uppercase;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    padding: 13px;
    background: #747377;
    border-radius: 30px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/* End wishlist */

/* Search area */

.search-area {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* End search area */


/* Merchant home page */

.home-page-area {
    margin-top: 30px;
    margin-bottom: 90px;
}

.card-header {
    font-weight: bold;
}

.edit-profile-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.edit-profile-area {
    margin: 0 auto 40px auto;
    width: 50%;
    padding: 30px;
    background: #F8F7F7;
}

.edit-profile-area:hover {
    box-shadow: 2px 4px 8px 2px #B0B0B0;
}

.edit-profile-area h3 {
    font-weight: bold;
}

.edit-profile-area p{
    color: red;
    font-size: 13px;
}

.edit-profile-area-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-profile-area-content select {
    border-color: transparent;
}

.update {
    margin-top: 20px;
}

/* End merchant home page */

/* User profile area */

.profile-page-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.profile-page-area {
    margin: 0 auto 40px auto;
    width: 70%;
    padding: 30px;
    background: #F8F7F7;
}

.profile-page-area:hover {
    box-shadow: 2px 4px 8px 2px #B0B0B0;
}

.profile-page-area h3 {
    font-weight: bold;
}

.profile-page-area p{
    color: red;
    font-size: 13px;
}

.profile-page-area-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-page-area-content select {
    border-color: transparent;
}

#tempimage {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

